<div class="booksPageSideBar">
  <div class="authorsBooksSideBar">
    <img class='authorPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="authorBooksSideBar">
    <img class='bookPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<div class="authorPageContent">
  <div class="authorDiv">
    <img src="{{result.portrait_url}}"style='height: 150px'/>
    <div class="authorDivContent">
      <a href='/authors/{{result.author_id}}'><h2>{{result.first_name}} {{result.last_name}}</h2></a>
      <a href='/authors/edit'>Edit</a>
      <a href='/authors/delete'>Delete</a>
      <div class='authorDescription'>
        <p>{{result.biography}}
        </p>
    </div>
  </div>
  <div class="authorBooks">
    <ol>
      {{#books}}
        <li>{{title}}</li>
      {{/books}}
    </ol>
  </div>
</div>
</div>
