<div class="booksPageSideBar">
  <div class="authorsBooksSideBar">
    <img class='authorPictureBookPage' src="https://meetgrace.com/resources/wp-content/uploads/2016/02/6-Things-to-Consider-when-Writing-an-Obituary.jpg"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="authorBooksSideBar">
    <img class='bookPictureBookPage' src="http://cdn.mhpbooks.com/uploads/2014/03/Prison-books.jpg"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<div class="authorPageContent">
  {{#authors}}
  <div class="authorDiv">
    <img src="{{url}}"style='height: 150px'/>
    <div class="authorDivContent">
      <a href='/authors/{{id}}'><h2>{{first_name}} {{last_name}}</h2></a>
      <a href='/authors/{{id}}/edit'>Edit</a>
      <a href='/authors/{{id}}/delete'>Delete</a>
      <div class='authorDescription'>
        <p>{{biography}}</p>
    </div>
  </div>
  <div class="authorBooks">
    <ol>
      <p>Book(s)</p>
        <li>{{titles}}</li>
    </ol>
  </div>
</div>
{{/authors}}
</div>
