<div class="booksPageSideBar">
  <div class="authorsBooksSideBar">
    <img class='authorPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="authorBooksSideBar">
    <img class='bookPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<div class="authorPageContent">
  <div class="authorDiv">
    <img src="{{authors.portrait_url}}"style='height: 150px'/>
    <div class="authorDivContent">
      <a href='/authors/{{authors.author_id}}'><h2>{{authors.first_name}} {{authors.last_name}}</h2></a>
      <a href='/authors/edit'>Edit</a>
      <a href='/authors/delete'>Delete</a>
      <div class='authorDescription'>
        <p>{{authors.biography}}
        </p>
    </div>
  </div>
  <div class="authorBooks">
    <ol>
      {{#title}}
        <li>{{this}}</li>
      {{/title}}
    </ol>
  </div>
  <button type="button" name="button">DELETE THIS MO FUKIN BOOK</button>
</div>
</div>
