<div class="booksPageSideBar">
  <div class="authorsBooksSideBar">
    <img class='authorPictureBookPage' src="https://meetgrace.com/resources/wp-content/uploads/2016/02/6-Things-to-Consider-when-Writing-an-Obituary.jpg"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="authorBooksSideBar">
    <img class='bookPictureBookPage' src="http://cdn.mhpbooks.com/uploads/2014/03/Prison-books.jpg"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<div class="authorPageContent">
  <div class="authorDiv">
    <img src="{{result.portrait_url}}"style='height: 150px'/>
    <div class="authorDivContent">
      <h2>{{result.first_name}} {{result.last_name}}</h2>
      <div class='authorDescription'>
        <p>{{result.biography}}
        </p>
    </div>
  </div>
  <div class="authorBooks">
    <ol>
      {{#books}}
        <li>{{title}}</li>
      {{/books}}
    </ol>
  </div>
  <button type="button" name="button">DELETE THIS</button>
</div>
</div>
