<div class="booksPageSideBar">
  <div class="authorBooksSideBar">
    <img class='authorPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="booksBooksSideBar">
    <img class='bookPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<div class="bookPageContent">
  {{#blah}}
  <div class="bookDiv">
    <img src="{{cover_url}}"style='height: 150px'/>
    <div class="bookDivContent">
      <a href='/books/{{id}}'><h4>{{title}}</h4></a>
      <h5>Author(s): </h5>
      {{authors}}
      <h5>Genre: {{genre}}</h5>
      <a href='/books/{{id}}/edit'>Edit</a>
      <a href='/books/{{id}}/delete'>Delete</a>
      <div class='bookDescription'>
        <p>{{description}}</p>
    </div>
  </div>
</div>
{{/blah}}
</div>
