<div class="booksPageSideBar">
  <div class="authorBooksSideBar">
    <img class='authorPictureBookPage' src="https://meetgrace.com/resources/wp-content/uploads/2016/02/6-Things-to-Consider-when-Writing-an-Obituary.jpg"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="booksBooksSideBar">
    <img class='bookPictureBookPage' src="http://cdn.mhpbooks.com/uploads/2014/03/Prison-books.jpg"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<div class="bookPageContent">
  <div class="bookDiv">
    <img src="{{result.cover_url}}"style='height: 150px'/>
    <div class="bookDivContent">
      <h4>{{result.title}}</h4>
      <h5>Author(s): </h5>
      {{#authors}}
      {{first_name}} {{last_name}}<br>
      {{/authors}}
      <h5>Genre: {{result.genre}}</h5>
      <a href='/books/edit'>Edit</a>
      <a href='/edit'>Delete</a>
      <div class='bookSingleDescription'>
        <p>{{result.description}}</p>
    </div>
  </div>
</div><br><br>
<form action="/books/{{result.id}}/delete" method="post">
  <button type="submit" name="button">DELETE THIS</button>
</form>
</div>
