<div class="booksPageSideBar">
  <div class="authorBooksSideBar">
    <img class='authorPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="booksBooksSideBar">
    <img class='bookPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<div class="bookPageContent">
  <div class="bookDiv">
    <img src="{{result.cover_url}}"style='height: 150px'/>
    <div class="bookDivContent">
      <h4>{{result.title}}</h4>
      <h5>Author(s): </h5>
      {{#authors}}
      {{first_name}} {{last_name}}<br>
      {{/authors}}
      <h5>Genre: {{result.genre}}</h5>
      <a href='/books/{{result.id}}/edit'>Edit</a>
      <a href='/books/{{result.id}}/delete'>Delete</a>
      <div class='bookSingleDescription'>
        <p>{{result.description}}</p>
    </div>
  </div>
</div>
</div>
