<div class="booksPageSideBar">
  <div class="authorBooksSideBar">
    <img class='authorPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="booksBooksSideBar">
    <img class='bookPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<form method='post' action='/books/{{result.id}}/edit'>
  <div class="bookPageContent">
  <label>Title</label><br><input type="text" name="title" value="{{result.title}}"><br><br><br>
  <label>Genre</label><br><input type="text" name="genre" value="{{result.genre}}"><br><br><br>
  <label>Cover Image URL</label><br><input type="text" name="cover_url" value="{{result.cover_url}}"><br><br><br>
  <label>Description</label><br><textarea name="description" value="">{{result.description}}</textarea>
  <div class="bookEditPageContent">
    <div class="bookEditBooks">
      <label>Authors</label><br>
      <ul>
        {{#books}}
        <li>{{this.first}} {{this.last}} <a href='/delete/{{id}}/delete'>Delete</a></li>
        {{/books}}
      </ul>
    </div>
    <br>
    <!-- <div class="selectBox"> -->
      {{#names}}
      <input type="checkbox" name="authorBookEdit" value="">{{this.first_name}} {{this.last_name}}</input><br>
      {{/names}}
      <button type="button" name="addAuthor">Add Author</button>
    <!-- </div> -->
  </form>
    <br><br>
    <button class='bookSubmit' type="submit" name="bookSubmit">Submit Edit</button>
  </div>
</div>
